{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- /_index.md-->
      {{ .Content }}
      <h2>Last Blogs</h2>
      <ul class="article__list">
        <!-- /.article__list-->
        {{ range first 3 .Paginator.Pages }}
        <!-- <div class="col-sm-4"> -->
        {{ .Render "li" }}
        <!-- </div> -->
        {{ end }}
      </ul>
      <p><a href="/blog/" class="button-brand button-block">Read More Posts From Our Blog</a></p>
    </div>
  </div>
</div>
{{ end }}
