.button-block {
    display: block;
    width: calc(100% - 20px);
}

.button-brand {
    border-color: $brand-color-dark;
    background-color: $brand-color;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    color: $background-color;
    font-weight: bold;
}
.button-brand:visited {
    color: $background-color;
}
.button-brand:hover {
    color: $background-color;
}
.button-brand:active {
    color: $background-color;
}
