.paginator-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
}

.paginator-col-left,
.paginator-col-right {
  float: left;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.paginator-col-left {
  padding-right: $spacing-unit / 2;
}

.paginator-col-right {
  padding-left: $spacing-unit / 2;
}

.paginator-col-centre {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}