/* =============================================================

    Tables v1.0
    Simple table styling by Chris Ferdinandi.
    http://gomakethings.com

    Adapted from Twitter Bootstrap.
    http://twitter.github.com/bootstrap/

    Licensed under the Apache License v2.0
    http://www.apache.org/licenses/LICENSE-2.0

 * ============================================================= */

/* =============================================================
    TABLES
    Table styling.
 * ============================================================= */
/*  Removes default browser settings
 *  and evens out inconsistencies. */
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }

/*  Sets table width to 100%.
 *  Adds bottom-margin. */
.table {
    width: 100%;
    margin-bottom: 1.529411765em; }

/*  Adds table cell padding,
 *  aligns text to the left,
 *  and adds a top border to each cell. */
.table th,
.table td {
    padding: 0.470588235em;
    text-align: left;
    border-top: 0.071428571em solid #b8b8b8; }

/*  Sets table header font-weight to bold.
 *  Aligns table header text to the bottom of each cell. */
.table th {
    background-color: #6b2c91;
    color: white;
    font-weight: bold;
    vertical-align: bottom; }

/*  Aligns cell text to the top of each cell. */
.table td {
    vertical-align: top; }

/*  Removes the border-top from the first row. */
.table thead:first-child tr th,
.table thead:first-child tr td {
    border-top: 0; }

.table tr:nth-child(even) {
    background-color: #f2f2f2
}

/*  Adds border-top between two table-body sections. */
.table tbody + tbody {
    border-top: 0.142857143em solid #b8b8b8; }

/*  Reduces cell padding */
.table-condensed th,
.table-condensed td {
    padding: 0.294117647em; }

/* Adds borders and border-radius. */
.table-bordered {
    border: 0.071428571em solid #b8b8b8;
    border-collapse: separate;
    *border-collapse: collapsed;
    border-radius: 0.470588235em; }

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
    border-left: 0.071428571em solid #b8b8b8; }

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
    border-radius: 0.470588235em 0 0 0; }

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
    border-radius: 0 0.470588235em 0 0; }

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 0.470588235em; }

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 0.470588235em 0; }
