<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      This website is powered by
      <a href="https://www.r-project.org/">R</a>,
      <a href="https://github.com/rstudio/blogdown">blogdown</a>
      and
      <a href="https://gohugo.io/">Hugo</a>.
      Theme based on <a href="https://jekyllrb.com/">Jekyll</a>'s <a href="https://github.com/jekyll/minima">Minima</a>.
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {{ .Site.Params.description }}
      </div>

      <div class="footer-col footer-col-2">
        <a class="footer-title" href="/">
          <img src="{{ .Site.Params.logo.url }}" alt=" {{ .Site.Params.logo.alt }}">
        </a>
        <ul class="contact-list">
          {{ range .Site.Menus.footer }}
          <li>
            <a class="page-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li>
            <a class="page-link" href="{{ .Site.Params.mailingListEmail }}">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="/post/"><i class="fas fa-rss"></i> Blog</a>
          </li>
          {{ if .Site.Params.twitter_username }}
          <li>
            {{ .Site.Params.twitter_username }}
          </li>
          {{ end }}
          {{ if .Site.Params.github.username }}
          <li>
            <a href="{{ .Site.Params.github.url }}">
              {{ .Site.Params.github.username }}
            </a>
          </li>
          {{ end }}
          {{ if .Site.Params.gitlab.username }}
          <li>
            <a href="{{ .Site.Params.gitlab.url }}">
             <i class="fab fa-gitlab"></i> {{ .Site.Params.gitlab.username }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

  </div>

</footer>
