<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}">

<link rel="canonical" href="index.html">
<link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="/feed.xml">

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "sass/style.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" href="/css/fontawesome-all.min.css">

