<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ block "main" . }}
        {{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
