<h3 class="article__title">
  <a href="{{ .Permalink }}" class="clearfix">
    {{ .Title }}
  </a>
</h3>
<p class="article__meta-item article__date">
  Published on {{ with .Site.Params.DateForm }}{{ $.Date.Format . "2 January 2006" }}{{ else }}{{ $.Date.Format "2 January 2006" }}{{ end }} by {{ $.Param "author" }}.
</p>
<p class="article__meta-item">
  Category:
  {{ with $.Param "categories" -}}
  {{- delimit . "," -}}
  {{- end -}}
  .
  Tags:
  {{ with $.Param "tags" -}}
  {{- delimit . ", " -}}
  {{- end -}}
  .
</p>
<p class="article__summary">
  {{ .Summary }}
</p>
<p>
  <a href="{{ .Permalink }}" class="button-brand button-block">
    Continue reading ...
  </a>
</p>
