{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ if .Paginator.Pages }}
      <section class="post__li">
        {{ range .Paginator.Pages }}
        {{ .Render "li" }}
        {{ end }}
      </section>
      {{ end }}
    </div>
  </div>
</div>

{{ if .Paginator.Pages }}
<div class="paginator container">
  <div class="paginator-col paginator-col-left">
    {{ if .Paginator.HasPrev }}
    <a class="button-block button-brand paginator__left" href="{{ .Paginator.Prev.URL }}">
      Previous Page
    </a>
    {{ end }}
  </div>

  <div class="paginator-col paginator-col-right">
    {{ if .Paginator.HasNext }}
    <a class="button-block button-brand paginator__right" href="{{ .Paginator.Next.URL }}">
      Next Page
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
