{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h2>
      <p class="article__meta-item article__date">
        Published on {{ with .Site.Params.DateForm }}{{ $.Date.Format . "2 Jan 2006" }}{{ else }}{{ $.Date.Format "2 Jan 2006" }}{{ end }} by {{ $.Param "author" }}.
      </p>
      {{ .Content }}
      <p class="article__meta-item">
  Category:
  {{ with $.Param "categories" -}}
  {{- delimit . "," -}}
  {{- end -}}
  .
  </p>
  <p class="article__meta-item">
  Tags:
  {{ with $.Param "tags" -}}
  {{- delimit . ", " -}}
  {{- end -}}
  .
  </p>
    </div>
  </div>
</div>
{{ end }}
